<div class="col-md-12 mt-3">
  <h1>{{page_title}}</h1>
  <hr>
  <ul class="list-group list-topics">
    <li class="list-group-item" *ngFor="let topic of topics">
      <div class="avatar_mask_list float-left mr-3 mt-1">
        <img src="{{url + 'avatar/' + topic.user.image}}">
      </div>
      <div>
        <h4>
          <a [routerLink]="['/inicio']">{{topic.title}}</a>
        </h4>
        <span class="badge badge-primary">{{topic.user.name + ' ' + topic.user.surname}}</span>
        <span class="badge badge-light ml-2">{{topic.date | amLocale: 'es' | amTimeAgo}}</span>
        <a [routerLink]="['/inicio']" class="btn btn-sm btn-success float-right mx-auto d-block">Leer</a>
      </div>
    </li>
  </ul>
  <div class="clearfix"></div>
  <!-- NAVEGACIÓN DE PAGINACIÓN -->
</div>
