@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body,
html {
  background-color: #d2dae2 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.hr-vertical {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 26rem;
  width: 1px;
}

.container {
  height: 100% !important;
}

.pointer {
  cursor: pointer;
}

.avatar_mask {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar_mask img {
  height: 40px;
  width: 40px;
}

.avatar_mask_edit {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
  display: block;
  margin: auto;
}

.avatar_mask_edit img {
  height: 200px;
}

.avatar_mask_list {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar_mask_list img {
  height: 60px;
  width: 60px;
}

.avatar_mask_detail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto !important;
}

.avatar_mask_detail img {
  height: 150px;
  width: 150px;

}

.col-profile {
  text-align: center !important;
}

.name_detail {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .title_detail {
    font-size: 1.1rem;
  }

  .name_detail {
    font-size: 1rem;
    float: left;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }

  .col-profile {
    text-align: unset !important;
    display: inline-block;
  }

  .avatar_mask_detail {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: unset !important;
    float: left;
  }

  .avatar_mask_detail img {
    height: 60px;
    width: 60px;
  }
}
